In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
course_df = pd.read_csv("../data/OEDI Course Overview Data.csv")
majmin_df = pd.read_csv("../data/OEDI Student Major-Minor Data.csv")

In [26]:
merged_df = pd.merge(course_df, majmin_df, on='UniqueID', how='inner')

In [27]:
merged_df.head()

,UniqueID,Term Desc_x,Class Academic Career,Class Academic Group,Class Academic Group Desc,Course ID,Class Num,Subject,Subject Desc,Catalog Number,...,Academic Level,Degree Level,Academic Plan School,Academic Plan Type Code,Academic Plan Type,Academic Plan,Academic Plan Desc,Primary Major/Minor Desc,Program Campus,Program Campus Desc
0,2048211,2024 Fall,GRAD,EDUC,School of Education & HumanDev,45805,15302,EDIS,"Education-Curriculum, Instruction, & Special Ed",8970,...,Second Year,DOCT,Education,MAJ,Major,CURRIN-EDD,Curriculum & Instruction (EDD),Curriculum and Instruction,ONLNE,Online
1,2048211,2024 Fall,GRAD,EDUC,School of Education & HumanDev,47366,20575,EDIS,"Education-Curriculum, Instruction, & Special Ed",7835,...,Second Year,DOCT,Education,MAJ,Major,CURRIN-EDD,Curriculum & Instruction (EDD),Curriculum and Instruction,ONLNE,Online
2,2050505,2024 Fall,UGRD,CGAS,College & Graduate Arts & Sci,38645,19160,JAPN,Japanese,1559,...,Not Set,COS,Continuing and Professional Studies,COS,Course of Study,CS-CPUN,Community Scholar,Community Scholar,SCPS,SCPS Campus
3,2054861,2024 Fall,BUSN,GBUS,Darden Grad School of Business,14825,18832,GBUS,Graduate Business,7400,...,Professional Year 1,MAST,Darden,MAJ,Major,BUSADMNV-E,Business Admin-NoVa (EMBA),Business Administration for Executives,MAIN,Main Campus
4,2054861,2024 Fall,BUSN,GBUS,Darden Grad School of Business,15330,18799,GBUS,Graduate Business,7235,...,Professional Year 1,MAST,Darden,MAJ,Major,BUSADMNV-E,Business Admin-NoVa (EMBA),Business Administration for Executives,MAIN,Main Campus

In [28]:
print(merged_df.shape)
print(merged_df.columns)

(216361, 31)
Index(['UniqueID', 'Term Desc_x', 'Class Academic Career',
       'Class Academic Group', 'Class Academic Group Desc', 'Course ID',
       'Class Num', 'Subject', 'Subject Desc', 'Catalog Number',
       'Class Section', 'Class Title', 'SIS Location', 'SIS Location Desc',
       'Instruction Mode', 'Instruction Mode Desc', 'Class Component',
       'Class Campus', 'Class Campus Desc', 'Term Desc_y', 'Admit Term Desc',
       'Academic Level', 'Degree Level', 'Academic Plan School',
       'Academic Plan Type Code', 'Academic Plan Type', 'Academic Plan',
       'Academic Plan Desc', 'Primary Major/Minor Desc', 'Program Campus',
       'Program Campus Desc'],
      dtype='object')

In [32]:
(merged_df['SIS Location Desc'] == '').sum()

np.int64(0)

In [ ]:
merged_df.info()

In [33]:
# Checking for duplicates
print(merged_df.duplicated().sum())

0

In [34]:
# Checking for missing values
print(merged_df.isnull().sum())

UniqueID                     0
Term Desc_x                  0
Class Academic Career        0
Class Academic Group         0
Class Academic Group Desc    0
Course ID                    0
Class Num                    0
Subject                      0
Subject Desc                 0
Catalog Number               0
Class Section                0
Class Title                  0
SIS Location                 0
SIS Location Desc            0
Instruction Mode             0
Instruction Mode Desc        0
Class Component              0
Class Campus                 0
Class Campus Desc            0
Term Desc_y                  0
Admit Term Desc              0
Academic Level               0
Degree Level                 0
Academic Plan School         0
Academic Plan Type Code      0
Academic Plan Type           0
Academic Plan                0
Academic Plan Desc           0
Primary Major/Minor Desc     0
Program Campus               0
Program Campus Desc          0
dtype: int64

In [ ]:
print(course_df.shape)
print(majmin_df.shape)
print(merged_df.shape)

(182424, 19)
(31663, 13)
(216361, 31)

In [ ]:
course_df = pd.read_csv("../data/OEDI Course Overview Data.csv")
majmin_df = pd.read_csv("../data/OEDI Student Major-Minor Data.csv")

In [ ]:
# check for nulls
print(course_df.isnull().sum())
print(majmin_df.isnull().sum())
# check for duplicates

UniqueID                     0
Term Desc                    0
Class Academic Career        0
Class Academic Group         0
Class Academic Group Desc    0
Course ID                    0
Class Num                    0
Subject                      0
Subject Desc                 0
Catalog Number               0
Class Section                0
Class Title                  0
SIS Location                 0
SIS Location Desc            0
Instruction Mode             0
Instruction Mode Desc        0
Class Component              0
Class Campus                 0
Class Campus Desc            0
dtype: int64
UniqueID                    0
Term Desc                   0
Admit Term Desc             0
Academic Level              0
Degree Level                0
Academic Plan School        0
Academic Plan Type Code     0
Academic Plan Type          0
Academic Plan               0
Academic Plan Desc          0
Primary Major/Minor Desc    0
Program Campus              0
Program Campus Desc         0
dtype: int64

In [ ]:
df1 = pd.read_excel("../data/course.xlsx")
df2 = pd.read_excel("../data/majmin.xlsx")

In [35]:
# check for nulls
print(df1.isnull().sum())
print(df2.isnull().sum())

UniqueID                       0
Term Desc                      0
Class Academic Career          0
Class Academic Group           0
Class Academic Group Desc      0
Course ID                      0
Class Num                      0
Subject                        0
Subject Desc                   0
Catalog Number                 0
Class Section                  0
Class Title                    0
SIS Location                   0
SIS Location Desc            661
Instruction Mode               0
Instruction Mode Desc          0
Class Component                0
Class Campus                   0
Class Campus Desc              0
dtype: int64
UniqueID                    0
Term Desc                   0
Admit Term Desc             0
Academic Level              0
Degree Level                0
Academic Plan School        0
Academic Plan Type Code     0
Academic Plan Type          0
Academic Plan               0
Academic Plan Desc          0
Primary Major/Minor Desc    0
Program Campus              0
Program Campus Desc         0
dtype: int64

In [ ]:
nulls = df1.isnull().sum()
print(nulls[nulls > 0])  # Only show columns with missing values

SIS Location Desc    661
dtype: int64

In [36]:
test = pd.read_csv("../data/OEDI Course Overview Data.csv", na_values=['', ' ', 'N/A', 'n/a', 'None', 'none', 'NaN', 'nan', 'NA', 'na', "", " "])

In [37]:
nulls = test.isnull().sum()
print(nulls[nulls > 0])  # Only show columns with missing values

Series([], dtype: int64)

In [38]:
print(test['SIS Location Desc'].unique())

['Online' 'University of Virginia' 'On Grounds' 'Off-Grounds' '#NAME?'
 'SCPS FBI National Academy' 'Inova Fairfax Medical Campus'
 'International Study' 'Italy: Venice' 'Spain: Barcelona'
 'SCPS Northern Virginia Center' 'Italy: Siena' 'Spain: Valencia'
 'Italy: Florence' 'Scotland' 'England: London']

In [40]:
test['SIS Location Desc'] = test['SIS Location Desc'].replace('#NAME?', pd.NA)

In [41]:
print(test['SIS Location Desc'].isnull().sum())

661

### When you run the file as a csv, the null values disappear as they are displayed as the string '#NAME?', to solve this problem you just hbave to replace all of these values with NA then you can use csv file.

In [42]:
course_df = pd.read_csv("../data/OEDI Course Overview Data.csv")
majmin_df = pd.read_csv("../data/OEDI Student Major-Minor Data.csv")

# Replacing "#NAME?" values in 'SIS Location Desc' with NaN
course_df['SIS Location Desc'] = course_df['SIS Location Desc'].replace('#NAME?', pd.NA)

# Merging the two dataframes on 'UniqueID'
merged_df = pd.merge(course_df, majmin_df, on='UniqueID', how='inner')